@import "tailwindcss";

/* Importa las tipografías desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Roboto:wght@400;500;700&display=swap');

/* Tema Global */
@theme {
  /* Paleta Cromática */
  --color-primary: #293B4D;       /* Cabecera, menús y textos principales */
  --color-action: #F49C14;        /* Botones y llamadas a la acción (CTA) */
  --color-focus: #F2C413;         /* Elementos resaltados (Focus) */
  
  /* Fondos y Neutros */
  --color-bg-main: #FCF7E6;       /* Fondo principal (tono crema) */
  --color-bg-alt: #F2F2F2;        /* Fondo secundario (gris claro) */
  --color-bg-logo: #FFDFAE;       /* Fondo (amarillo del logo) */
  --color-text-muted: #818181;    /* Texto secundario */
  --color-border: #CDCDCD;        /* Bordes grises */

  /* Tipografías */
  --font-poppins: 'Poppins', sans-serif; /* Títulos (H1, H2, H3...) */
  --font-roboto: 'Roboto', sans-serif;   /* Para Párrafos y cuerpo de texto */
}

/* Estilos base del documento */
body {
  font-family: var(--font-roboto);
  background-color: var(--color-bg-main);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

/* Aplica la fuente Poppins a todos los títulos y botones */
h1, h2, h3, h4, h5, h6, button {
  font-family: var(--font-poppins);
}

p {
  font-family: var(--font-roboto);
}